<div class="container text-center mt-5">
  <h1 class="mb-4">Welcome to the World's Best Trivia Game!</h1>
  <div class="p-3 bg-light rounded">
  <h4>Here are the rules for the quiz:</h4>
  <ol class="list-group list-group-flush text-start list-group-numbered ">
    <li class="list-group-item">Select a category to start the quiz.</li>
    <li class="list-group-item">You will be presented with a question and multiple choices.</li>
    <li class="list-group-item">Select the correct answer to score points.</li>
  </ol>
</div>
</div>

<!-- Quiz Category Selection -->
<div class="container text-center mt-5 p-3 bg-light rounded">
  <h2>Select a Quiz Category</h2>
  <ul class="list-unstyled d-flex justify-content-center">
    <li class="mx-2"><%= link_to 'Music', quiz_path(category: 'MusicArticle'), class: 'btn btn-primary' %></li>
    <li class="mx-2"><%= link_to 'Bangladesh', quiz_path(category: 'BangladeshArticle'), class: 'btn btn-primary' %></li>
    <li class="mx-2"><%= link_to 'Bird Songs', quiz_path(category: 'BirdArticle'), class: 'btn btn-primary' %></li>
    <li class="mx-2"><%= link_to 'NBA Players', quiz_path(category: 'NbaArticle'), class: 'btn btn-primary' %></li>
  </ul>
</div>
